.wcp-article__cover-image-container {
  height: 50vw;
  max-height: 32rem;
  overflow: hidden;
  margin: 0px 0px-$gutter-m;
}

.wcp-article__cover-image {
  width: 100%;
}

.wcp-summary-fact-card {
  margin-top: $gutter-l;
}
