.wcp-article__cover-image-container {
  height: 15rem;
  overflow: hidden;
  margin: 0 0px-$gutter-m;
  border-bottom: $border-divider;
}

.wcp-article__cover-image {
  width: 100%;
  object-fit: cover;
}

.wcp-summary-fact-card {
  margin-top: $gutter-l;
}

.wcp-article__title {
  margin-bottom: $gutter-xs;
  font-size:  $font-size-xxl;
  line-height: $line-height-xl;
  color: $color-black-light;
  font-weight: normal;
}
