.wcp-home__header {
  margin: -$gutter-m;
  background-color: $color-blue-darker;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wcp-home__logo__container {
  margin-left: 3 * $gutter-m;
  flex-grow: 1;
}

.wcp-floating-toolbar + .wcp-playing-teams {
  margin-top: $gutter-xl;
}
