.wcp-article-summary-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.wcp-article-summary-modal__cover-image-container {
  position: relative;
  .wcp-article-summary-modal__cover-image {
    height: 25vh;
  }
}

.wcp-article-summary-modal__cover-image {
  width: 100%;
  object-fit: cover;
}

.wcp-article-summary-modal__content {
  padding: $gutter-m;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wcp-article-summary-modal__title {
  font-size: $font-size-xl;
  color: $color-black;
  line-height: $line-height-xl;
  margin-top: 0;
  margin-bottom: $gutter-s;
}

.wcp-article-summary-modal__summary {
  margin-top: 0;
  flex-grow: 1;
}

.wcp-article-summary-modal__button-read-article {
  width: auto;
}

.wcp-article-summary-modal__icon-close {
  position: absolute;
  top: $gutter-m;
  right: $gutter-m;
}

.wcp-article-summary-modal__icon-bookmark {
  border-radius: 50%;
  position: absolute;
  right: $gutter-m;
  bottom: -1rem;
  box-shadow: $box-shadow-dark-xxl, $box-shadow-light-l;
}

.wcp-article-summary-modal__error {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: $gutter-m;
  font-size: $font-size-l;
  text-align: center;
}

.wcp-article-summary-modal__error__button-close {
  margin-bottom: $gutter-m;
}
