.wcp-avatar-list__item-wrapper {
  border-radius: $border-radius-m;
  display: block;
}

.wcp-avatar-list__item-wrapper--active {
  box-shadow: $box-shadow-dark-l, $box-shadow-light-s,
    $box-shadow-light-xs;

  .wcp-avatar-list__item__info__value {
    color: $color-blue-dark;
  }
}

.wcp-avatar-list__item {
  display: flex;
  align-items: center;
  color: $body-color;
  margin-bottom: $gutter-m;
  padding: $gutter-s;
}

.wcp-avatar-list__item__profile-picture {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  line-height: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: $box-shadow-light-s;
  background-color: $color-gray-lighter;
  img {
    width: 100%;
  }
}

.wcp-avatar-list__item__info {
  flex-grow: 1;
  margin-left: $gutter-m;
}

.wcp-avatar-list__item__info__label {
  @include fact-card-label();
}

.wcp-avatar-list__item__info__value {
  font-weight: bold;
  color: $color-black-light;
  line-height: $line-height-m;
}

.wcp-avatar-list__summary + .wcp-avatar-list__item-list-wrapper {
  margin-top: $gutter-m;
}

.wcp-avatar-list__item-wrapper:last-child {
  .wcp-avatar-list__item {
    margin-bottom: 0;
  }

  .wcp-avatar-list__item__info {
    border-bottom: none;
    padding-bottom: 0;
  }
}
