.wcp-bar-chart-with-info .wcp-section-title {
  margin-bottom: 0.5rem;
}

.wcp-bar-chart-with-info__item__label {
  font-size: $font-size-m;
  margin: 0;
  line-height: $line-height-m;
  color: $color-black-medium;
}

.wcp-bar-chart-with-info__item__description {
  margin: 0;
  font-size: $font-size-s;
  line-height: $line-height-m;
}

.wcp-bar-chart-with-info__item:last-child .wcp-tiny-card-carousel {
}

.wcp-bar-chart-with-info .wcp-tiny-card-wrapper:first-child {
  padding-left: 1rem;
  margin-left: -1rem;
}


.wcp-bar-chart-with-info .wcp-bar-chart-with-info__tiny-cards-carousel-wrapper {

}

.wcp-bar-chart-with-info .wcp-tiny-card-carousel {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
}

.wcp-bar-chart-with-info__item:not(:first-child) {
  margin-top: $gutter-s;
}



.wcp-bar-chart-with-info__bar-chart-section {
  margin-top: $gutter-s;
}


.wcp-bar-chart {
  width: 100%;
}

.wcp-bar-chart__single-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $line-height-l;
}

.wcp-bar-chart__single-bar__label {
  width: 25%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: $font-size-xxs;
  color: $color-gray-dark;
  line-height: $line-height-xs;
  font-weight: bold;
}

.wcp-bar-chart__single-bar__percentage {
  width: 15%;
  font-size: $font-size-xs;
  color: $color-black-medium;
  line-height: $line-height-xs;
  text-align: right;
  margin-right: 0;
}

.wcp-bar-chart__single-bar__bar {
  width: 50%;
  position: relative;
  height: 0.5rem;
  background: $color-gray-lightest;
}

.wcp-bar-chart__single-bar__bar__inner {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

$colors: $color-extra-green $color-extra-orange $color-extra-purple
  $color-extra-yellow;

@for $i from 1 through length($colors) {
  .wcp-bar-chart__single-bar:nth-child(#{length($colors)}n + #{$i})
    .wcp-bar-chart__single-bar__bar__inner {
    background: nth($colors, $i);
  }
}
