.wcp-bottom-sheet__overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $color-black;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s 0s;

  &.wcp-bottom-sheet--open {
    opacity: 0.4;
    visibility: visible;
  }
}

.wcp-bottom-sheet {
  visibility: hidden;
  position: fixed;
  background-color: $color-white;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s 0s;

  &.wcp-bottom-sheet--open {
    opacity: 1;
    visibility: visible;
  }
}

.wcp-bottom-sheet--1up {
  min-height: 10rem;
  height: 25vh;
}

.wcp-bottom-sheet--2up {
  height: 50vh;
}

.wcp-bottom-sheet--3up {
  height: 75vh;
}

.wcp-bottom-sheet--4up {
  height: 100vh;
}
