.wcp-button {
  background-color: $color-blue-dark;
  border-radius: $border-radius-s;
  border: none;
  line-height: $line-height-m;

  font-family: inherit;
  font-size: $font-size-s;
  color: $color-white;
  -webkit-text-fill-color: $color-white;
  text-transform: uppercase;
  font-weight: bold;

  text-align: center;
  display: block;
}

.wcp-button:lang(hi) {
  font-size: $font-size-m;
  font-weight: normal;
}

.wcp-button--inverted {
  color: $color-blue-dark;
  -webkit-text-fill-color: $color-blue-dark;

  background-color: $color-white;
  border: 1px solid $color-blue-dark;
}

.wcp-button--full-width {
  width: 100%;
}

.wcp-button--padding-s {
  padding: 0.5rem 1rem;
}

.wcp-button--padding-m {
  padding: $gutter-m;
}
