.wcp-card--shadow-s {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 4px rgba(0, 0, 0, 0.04);
}

.wcp-card--shadow-m {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08), 0px 1px 6px rgba(0, 0, 0, 0.04);
}

.wcp-card--shadow-l {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.04);
}

.wcp-card {
  border-radius: $border-radius-s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wcp-card__cover-image {
  display: block;
  width: 100%;
  height: 5rem;
  object-fit: cover;
}

.wcp-card__content {
  padding: $gutter-s;
}

.wcp-card__title {
  margin-top: 0;
}

.wcp-card--image-left {
  flex-direction: row;
  align-items: center;

  .wcp-card__title {
    margin-bottom: 0;
  }

  .wcp-card__cover-image {
    width: 30%;
  }
}

.wcp-tiny-card {
  width: auto;
  min-width: 18.75rem;
  margin-right: $gutter-s;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.wcp-tiny-card__cover-image {
  display: inline-block;
  max-height: 4rem;
}

.wcp-tiny-card__title {
  font-size: $font-size-m;
  color: $color-black-medium;
  margin-bottom: $gutter-m;
  line-height: $line-height-h4;
  white-space: nowrap;
}

.wcp-tiny-card__description {
  font-size: $font-size-xxs;
  color: $color-gray-faded;
  line-height: $tiny-card-caption-line-height;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2 * $tiny-card-caption-line-height;
}

.wcp-tiny-card__content {
  display: inline-block;
  padding-top: 0;
}
