.wcp-cover-card-carousel {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  padding-bottom: $gutter-m;
  margin-right: -$gutter-m;
  margin-left: -$gutter-m;
  @include hide-scrollbar();
}

// Fix a bug where the right shadow is cut-off by the browser.
.wcp-cover-card-carousel::before,
.wcp-cover-card-carousel::after {
  content: "";
  display: block;
  min-width: 1rem;
}
