@mixin fact-card-label() {
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: $font-size-xs;
  color: $color-gray-medium;
}

.wcp-fact-card__title {
  font-size: $font-size-xl;
  line-height: $line-height-h4;
  font-weight: bold;
  color: $color-black;
  margin-bottom: $gutter-xl;
}

.wcp-fact-card__content {
  padding: $gutter-m $gutter-m $gutter-l $gutter-m;
}

/** For the table fact card **/

.wcp-fact-card__table-content {
  width: 100%;

  th {
    @include fact-card-label();
  }

  td {
    text-align: right;
  }

  th,
  td {
    padding-bottom: $gutter-xs;
  }
}

/** For the avatar fact card **/

.wcp-fact-card__avatar-content__item {
  display: flex;
  align-items: center;
  color: $body-color;
  margin-bottom: $gutter-m;
}

.wcp-fact-card__avatar-content__item__profile-picture {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  line-height: 0;
}

.wcp-fact-card__avatar-content__item__info {
  flex-grow: 1;
  margin-left: $gutter-l;
  padding-bottom: $gutter-s;
  border-bottom: solid 0.0625rem $color-gray-lighter;
}

.wcp-fact-card__avatar-content__item__info__label {
  @include fact-card-label();
}

.wcp-fact-card__avatar-content__item-wrapper:last-child {
  .wcp-fact-card__avatar-content__item {
    margin-bottom: 0;
  }

  .wcp-fact-card__avatar-content__item__info {
    border-bottom: none;
    padding-bottom: 0;
  }
}

/* For the nested fact card */

.wcp-fact-card__nested-content__item {
  display: flex;
  margin-bottom: $gutter-xl;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.wcp-fact-card__nested-content__item__label {
  font-size: $font-size-s;
  color: $color-gray-medium;
}

.wcp-fact-card__nested-content__item__card {
  margin-left: $gutter-xl;
}

.wcp-fact-card__nested-content__title {
  font-size: $body-font-size;
  font-weight: normal;
  line-height: $line-height-h4;
}

.wcp-fact-card__simple-content {
  margin-top: 0-$gutter-m;
}

.wcp-fact-card__simple-content__text {
  margin-bottom: 0;
}

.wcp-fact-card__simple-content__icon {
  text-align: right;
}


// for the vertical_timeline card

.wcp-fact-card__vertical-timeline-content {
  padding-left: $gutter-l;
}

.wcp-fact-card__vertical-timeline-content__item {
  padding-bottom: $gutter-m;
  position: relative;
}


$timelineDotSize: 0.625rem;
$timelineSpacing: -1.125rem;

.wcp-fact-card__vertical-timeline-content__item__label {
  font-size: $font-size-l;
  color: $color-black-light;
  margin-bottom: 0;
  margin-top: $gutter-xs;
  position: relative;
  span {
    font-size: $font-size-s;
    color: $color-gray-medium;
    font-family: $font-family-body;
    font-weight: normal;
  }
}

.wcp-fact-card__vertical-timeline-content__item__content {
  color: $color-gray-dark;
}

.wcp-fact-card__vertical-timeline-content__inner-cards-list {
  margin-top: $gutter-m;
  overflow-x: scroll;
  padding-bottom: $gutter-s;
  padding-right: $gutter-s;
  display: flex;
  flex-direction: row;
  @include hide-scrollbar();
}

.wcp-fact-card__vertical-timeline-content__item__card {
  width: auto;
  min-width: 18.75rem;
  margin-right: $gutter-s;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.wcp-fact-card__vertical-timeline-content__item__card__cover-image {
  display: inline-block;
  max-height: 3.875rem;
}

.wcp-fact-card__vertical-timeline-content__item__card__title {
  font-size: $font-size-m;
  color: $color-black-medium;
  margin-bottom: $gutter-m;
  line-height: 1.4;
  white-space: nowrap;
}

.wcp-fact-card__vertical-timeline-content__item__card__description {
  font-size: $font-size-xxs;
  color: $color-gray-faded;
  line-height: $font-size-m;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2 * $font-size-s;
}

.wcp-fact-card__vertical-timeline-content__item__card__content {
  display: inline-block;
  padding-top: 0;
}

.wcp-fact-card__vertical-timeline-content__line-and-dot {
  position: absolute;
  left: $timelineSpacing;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 0.75rem;
}

.wcp-fact-card__vertical-timeline-content__line {
  width: 0.0625rem;
  background: $color-blue-dark;
  top: 1.3125rem;
}

.wcp-fact-card__vertical-timeline-content__dot {
  width: $timelineDotSize;
  height: $timelineDotSize;
  border-radius: $timelineDotSize/2;
  background: $color-blue-dark;
  border: $timelineDotSize/4 solid $color-white;
}

.wcp-fact-card__vertical-timeline-content__item:last-child {
  .wcp-fact-card__vertical-timeline-content__line {
    display: none !important;
  }
}
