@mixin fact-card-label() {
  text-align: left;
  font-size: $font-size-xs;
  color: $color-gray-faded;
  font-weight: bold;
  line-height: $line-height-s;
}

.wcp-fact-card__title {
  font-size: $font-size-xl;
  line-height: $line-height-l;
  font-weight: bold;
  color: $color-black;
  margin-bottom: $gutter-xl;
}

.wcp-fact-card__content {
  padding: $gutter-m $gutter-m $gutter-l $gutter-m;
}

/** For the table fact card **/

.wcp-fact-card-table-content {
  width: 100%;

  th {
    @include fact-card-label();
  }

  td {
    text-align: left;
  }

  th,
  td {
    padding-bottom: $gutter-xs;
  }
}

/* For the simple text fact card */

.wcp-fact-card-text__text {
  margin-bottom: 0;
}

.wcp-fact-card-text__icon {
  text-align: right;
}
