@mixin fact-card-label() {
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: $font-size-xs;
  color: $color-gray-medium;
}

.wcp-fact-card__table {
  width: 100%;

  th {
    @include fact-card-label();
    padding-bottom: $gutter-xs;
  }

  td {
    text-align: right;
  }
}

.wcp-fact-card__content {
  padding: $gutter-m $gutter-m $gutter-l $gutter-m;
}

.wcp-fact-card h1 {
  font-size: $font-size-xl;
  line-height: $line-height-h4;
  font-weight: bold;
  color: $color-black;
}

.wcp-avatar-content__item {
  display: flex;
  align-items: center;
  color: $body-color;
  padding-bottom: $gutter-s;
  margin-bottom: $gutter-m;
  border-bottom: solid 1px $color-gray-lighter;
}

.wcp-avatar-content__item__profile-picture {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  line-height: 0;
}

.wcp-avatar-content__item__info {
  flex-grow: 1;
  margin-left: $gutter-l;
}

.wcp-avatar-content__item__info__label {
  @include fact-card-label();
}
