.wcp-floating-toolbar-button__text {
  font-size: $font-size-xs;
  margin-left: $gutter-s;
  letter-spacing: 0.4px;
}

.wcp-floating-toolbar-button__icon {
  vertical-align: middle;
  height: 1.125rem;
  max-width: 1.125rem;
}
