.wcp-floating-toolbar-button__text {
  font-size: $font-size-xs;
  margin-left: $gutter-s;
  letter-spacing: 0.4px;
}

.wcp-floating-toolbar-button__icon {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  vertical-align: middle;
}
