button {
  all: unset;
}

.wcp-floating-toolbar {
  background-color: $color-white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  color: $color-blue-dark;
  width: 20rem;

  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-top: -1.5rem;
  padding: $gutter-xs 0 $gutter-xs 0;

  height: 3rem;
  flex-grow: 1;
  text-align: center;
}

.wcp-floating-toolbar__item {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 0 $gutter-m;
}

.wcp-floating-toolbar__item__icon {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  flex: 1 1 auto;
}

.wcp-floating-toolbar__item__text {
  font-size: $font-size-xxs;
  margin-left: $gutter-s;
  flex: 1 1 auto;
  letter-spacing: 0.4px;
}

.wcp-floating-toolbar__divider {
  content: "";
  width: 1px;
  height: 100%;
  background-color: $color-blue-light;
}