.wcp-icon-size-xs {
  height: 0.75rem;
  width: 0.75rem;
}

.wcp-icon-size-m {
  height: 1.5rem;
  width: 1.5rem;
}

.wcp-icon-size-l {
  height: 2rem;
  width: 2rem;
}

.wcp-icon-size-xl {
  height: 3rem;
  width: 3rem;
}
