.wcp-language-selector__cards {
  display: flex;
}

.wcp-language-selector__title {
  font-size: $body-font-size;
  line-height: $body-line-height;
  margin-bottom: 0;
  margin-top: $gutter-m;
}

.wcp-language-selector__cta {
  margin-top: $gutter-l;
  width: 100%;
}