.wcp-language-card {
  color: $body-color;
  margin-left: $gutter-m;
  flex-grow: 1;
  flex-basis: 0;

  &:first-child {
    margin-left: 0;
  }
}

.wcp-language-card__link-text {
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  font-size: $font-size-s;
  color: $color-blue-dark;
}

.wcp-language-card__link-text__icon {
  vertical-align: middle;
  margin-left: $gutter-s;
}