.wcp-language-selector__cards {
  display: flex;
}

.wcp-language-selector__title {
  font-size: $font-size-m;
  line-height: $line-height-l;
  margin-bottom: $gutter-m;
}

.wcp-language-selector__cta {
  margin-top: $gutter-l;
  width: 100%;
}

.wcp-language-selector__cover-image {
  height: 22vw;
  max-height: 12rem;
}
