.wcp-large-card {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: $border-radius-m;
  overflow: hidden;
  height: 12rem;
}

.wcp-large-card__content {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  padding: $gutter-m;
}

.wcp-large-card__children {
  font-size: $font-size-s;
  line-height: $line-height-m;
  color: $color-black;
  font-weight: bold;
  font-style: italic;
  flex-grow: 1;
}

.wcp-large-card__cover-image__container {
  height: 100%;
  width: 7rem;
  overflow: hidden;
}

.wcp-large-card__cover-image {
  height: 100%;
  object-fit: cover;
}

.wcp-large-card__controls {
  display: flex;
}

.wcp-large-card__controls__button-read-more {
  margin-left: auto;
}


// Large card with vertical cardOrientation
.wcp-large-card--vertical {
  flex-direction: column;
  height: auto;
  .wcp-large-card__cover-image__container {
    height: 10rem;
    width: 100%;
  }
  .wcp-large-card__cover-image {
    height: auto;
    width: 100%;
  }
  .wcp-large-card__label {
    margin: 0;
    font-size: $font-size-l;
    line-height: $line-height-m;
  }
  .wcp-large-card__caption {
    margin: 0;
    font-size: $font-size-m;
    line-height: $line-height-m;
    margin-bottom: $gutter-m;
  }
}
