.wcp-large-card-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: $gutter-m;
  margin-right: -$gutter-m;
  margin-left: -$gutter-m;
  @include hide-scrollbar();
  scroll-snap-type: x mandatory;
}

.wcp-large-card-wrapper {
  scroll-snap-align: start;
}

.wcp-large-card-carousel__card {
  min-width: 85vw;
  margin-left: $gutter-m;

  @media screen and (min-width: $breakpoint-xs) {
    min-width: 20rem;
  }
}

// Fix a bug where the right shadow is cut-off by the browser.
.wcp-large-card-carousel::after {
  content: "";
  display: block;
  min-width: 1rem;
}
