.wcp-share-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.wcp-share-modal__close-icon {
position: absolute;
top: $gutter-m;
right: $gutter-m;
}
