.wcp-fact-card__story-content__container {
  display: flex;
  flex-direction: column;
  background: #111;
  position: relative;
  width: 100%;
  height: 25rem;
  transition: all 0.3s;
  &.wcp-fact-card__story-content__container__full-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.3s;
    z-index: 10000;
    height: 100%;
  }
}

.wcp-fact-card__story-content__container-overlay {
  position: absolute;
  height: inherit;
  width: inherit;
  display: flex;
}

.wcp-fact-card__story-content__container-overlay__left-half,
.wcp-fact-card__story-content__container-overlay__right-half {
  width: 50%;
  z-index: 999;
}

.wcp-fact-card__story-content__story-container {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.wcp-fact-card__story-content__overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
}

.wcp-fact-card__story-content__info {
  position: absolute;
  left: 0.75rem;
  bottom: 1.25rem;
  z-index: 19;
}

.wcp-fact-card__story-content__info__title {
  font-family: $font-family-title;
  color: $color-white;
  font-size: $font-size-l;
  line-height: $line-height-m;
}

.wcp-fact-card__story-content__info__caption {
  font-family: $font-family-body;
  color: $color-white;
  font-size: $font-size-s;
  line-height: $line-height-s;
}

.wcp-fact-card__story-content__info__icons {
  margin-top: $gutter-s;
  .wcp-icon:last-child {
    margin-left: $gutter-m;
  }
}

.wcp-fact-card__story-content__image-container {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.wcp-fact-card__story-content__progress-bar {
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-wrap: row;
  position: absolute;
  width: 98%;
  padding: 0.3125rem;
  padding-top: 0.4375rem;
  align-self: center;
  z-index: 99;
  filter: drop-shadow(0 1px 8px #000);
}

.wcp-fact-card__story-content__progress-bar__single {
  height: 0.125rem;
  max-width: 100%;
  background: #555;
  margin: 0.125rem;
  transition: opacity 400ms ease-in-out;
}

.wcp-fact-card__story-content__progress-bar__single__inner {
  background: #fff;
  height: 100%;
  max-width: 100%;
  transform-origin: center left;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

p {
  margin: 0;
}

@keyframes slidein {
  from {
    -webkit-transform: scale3d(0, 1, 1);
    -moz-transform: scale3d(0, 1, 1);
    -ms-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.wcp-fact-card__story-content__spinner {
  background-color: #fff;
}

.wcp-fact-card__story-content__full-screen-trigger {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.wcp-fact-card__story-content__container__close-fullscreen-icon {
  position: absolute;
  top: $gutter-m;
  right: $gutter-m;
  z-index: 10001;
  cursor: pointer;
}
