// for the card
$timelineDotSize: 0.375rem;

.wcp-timeline {
  margin-right: -1rem;
  margin-left: -1rem;
}

.wcp-timeline-item {
  position: relative;
  &:last-child {
    &:before {
      content: none;
    }
  }
}

.wcp-vertical-timeline {
  padding-left: 2rem;
}

.wcp-timeline-item__text-content {
  padding-right: 1rem;
}

.wcp-timeline-item__line-and-dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .wcp-timeline-item__line-and-dot__dot {
    width: $timelineDotSize;
    height: $timelineDotSize;
    border-radius: $timelineDotSize/2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: $color-blue-dark;
  }

  .wcp-timeline-item__line-and-dot__line {
    background: $color-blue-dark;
  }
}

.wcp-vertical-timeline .wcp-timeline-item__line-and-dot {
  position: absolute;
  top: 0.625rem;
  bottom: -1rem;
  left: -1.05rem;
  .wcp-timeline-item__line-and-dot__line {
    height: calc(100% - 2.1rem);
    margin-top: 0.05rem;
    width: 1px;
  }
}

.wcp-timeline-item:last-child {
  .wcp-timeline-item__inner-cards-list {
    padding-bottom: $gutter-m;
    margin-bottom: 0-$gutter-m;
  }

  .wcp-timeline-item__line-and-dot .wcp-timeline-item__line-and-dot__line {
    display: none !important;
  }
}

.wcp-timeline-item__label {
  font-size: $font-size-l;
  line-height: $line-height-m;
  color: $color-black-medium;
  margin-bottom: 0;
  margin-top: $gutter-xs;
  position: relative;
  span {
    font-size: $font-size-s;
    color: $color-gray-medium;
    font-family: $font-family-body;
    font-weight: normal;
  }
}

.wcp-timeline-item__content {
  color: $color-gray-dark;
  line-height: $line-height-m;
}

.wcp-vertical-timeline .wcp-tiny-card-carousel {
  .wcp-tiny-card {
    width: 80vw;
    min-width: 80vw;
  }
}

// horizontal timeline styles

.wcp-horizontal-timeline .wcp-tiny-card-carousel {
  flex-direction: column;
  overflow-x: auto;
  margin-left: 0;
}

.wcp-horizontal-timeline {
  padding-left: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  @include hide-scrollbar();
  scroll-snap-type: x mandatory;
}

.wcp-horizontal-timeline .wcp-timeline-item {
  padding-left: 1rem;
  width: 90vw;
}

.wcp-horizontal-timeline .wcp-timeline-item__label {
  color: $color-gray-dark;
}

.wcp-horizontal-timeline .wcp-timeline-item {
  overflow-x: visible;
  scroll-snap-align: start;
}

.wcp-horizontal-timeline .wcp-timeline-item:not(:first-child) {
  margin-left: $gutter-m;
}

.wcp-horizontal-timeline .wcp-timeline-item__line-and-dot {
  width: calc(100% + 1.92rem);
  margin-top: $gutter-s;
  position: relative;
  height: $timelineDotSize;
  flex-direction: row;
  justify-content: flex-start;
}
.wcp-horizontal-timeline .wcp-timeline-item__line-and-dot__line {
  width: 100%;
  margin-left: 0.1rem;
  margin-top: 1px;
  height: 1px;
}

.wcp-horizontal-timeline .wcp-tiny-card,
.wcp-horizontal-timeline .wcp-tiny-card-wrapper {
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.wcp-horizontal-timeline .wcp-tiny-card {
  height: 3.5rem;
  width: 70vw;
  min-width: 70vw;
}

.wcp-horizontal-timeline
  .wcp-tiny-card--passive
  + .wcp-tiny-card--passive::before {
  border: none;
  margin-right: 0.25rem;
}

.wcp-horizontal-timeline .wcp-tiny-card__content {
  display: flex;
  flex-direction: column-reverse;
}
