.wcp-tiny-card-carousel {
  margin-top: $gutter-s;
  overflow-x: scroll;
  padding: $gutter-xs $gutter-s $gutter-xl $gutter-xs;
  display: flex;
  flex-direction: row;
  margin-left: -$gutter-xs;
  margin-bottom: -$gutter-l;
  @include hide-scrollbar();
  scroll-snap-type: x mandatory;
}

.wcp-tiny-card-carousel .wcp-tiny-card {
  scroll-snap-align: start;
}

// Fix a bug where the right shadow is cut-off by the browser.
.wcp-tiny-card-carousel::after {
  content: "";
  display: block;
  min-width: 0.1rem;
}
