$border-radius-cover-image: 8px;

.wcp-tiny-card-wrapper {
  // height: 4rem;
  display: flex;
}

.wcp-tiny-card {
  min-width: 70vw;
  height: 4rem;
  margin-right: $gutter-s;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: $border-radius-cover-image;
  overflow: hidden;
  padding: $gutter-s $gutter-s;
}

.wcp-tiny-card-wrapper.wcp-tiny-card--active {
  padding-left: 0.2rem;
  margin-left: -0.2rem;
}

.wcp-tiny-card.wcp-tiny-card--active {
  box-shadow: $box-shadow-dark-l, $box-shadow-light-s,
    $box-shadow-light-xs;

  .wcp-tiny-card__title {
    color: $color-blue-dark;
  }
}

.wcp-tiny-card--passive + .wcp-tiny-card--passive {
  padding-left: 0;

  &::before {
    content: "";
    border-left: $border-divider-gray;
    height: 100%;
    margin-right: $gutter-m;
  }
}

.wcp-tiny-card__cover-image {
  border-radius: $border-radius-cover-image;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  object-fit: cover;
}

.wcp-tiny-card__content {
  margin-left: 8px;
  display: inline-block;
  padding-top: 0;
  position: relative;
}

.wcp-tiny-card__title {
  font-size: $font-size-m;
  color: $color-black-light;
  line-height: $line-height-m;
  white-space: nowrap;
  margin-top: -$gutter-s/2;
  margin-bottom: 0;
}

.wcp-tiny-card__text {
  font-size: $font-size-xxs;
  color: $color-gray-faded;
  line-height: $line-height-s;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2 * $line-height-s;

  // To truncate text with ellipses in WebKit browsers. In non-WebKit
  // browsers, text is simply truncated. This is why we can't have nice
  // things.
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
