@import "./variables.scss";
@import "./mixins.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: $font-size-m;
  line-height: $line-height-l;
  color: $body-color;
}

p {
  margin: $gutter-xs 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

main {
  margin: 0 $margin-main;
  max-width: ($breakpoint-s - 1rem);

  @media screen and (min-width: $breakpoint-s) {
    margin: 0 auto;
  }

  & > section {
    margin-top: 3rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

input[type="text"] {
  font-size: $font-size-m;
  color: $body-color;
  padding: $gutter-m;
}

button {
  all: unset;
  box-sizing: border-box;
}

.noscroll {
  overflow: hidden;
}
