@font-face {
  font-family: CharisSILW;
  src: url(/static/fonts/charis/CharisSIL-R-subset.woff);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: url(/static/fonts/charis/CharisSIL-B-subset.woff);
}
