@font-face {
  font-family: CharisSILW;
  src: url(/static/fonts/charis/CharisSIL-R.woff);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: url(/static/fonts/charis/CharisSIL-B.woff);
}
