//Breakpoints
$breakpoint-xxs: 20rem;
$breakpoint-xs: 30rem;
$breakpoint-s: 45rem;
$breakpoint-m: 80rem;

// Font sizes
$font-size-xxs: 12px;
$font-size-xs: 13.2762px;
$font-size-s: 14.2975px;
$font-size-m: 16.34px;
$font-size-l: 18.3825px;
$font-size-xl: 23.4888px;
$font-size-xxl: 28.595px;
$font-size-xxxl: 36.765px;
$font-size-xxxxl: 46.977px;

// Line heights
$line-height-xs: 16px;
$line-height-s: 17px;
$line-height-xm: 20px;
$line-height-m: 24px;
$line-height-l: 27px;
$line-height-xl: 33px;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-medium: #222222;
$color-black-light: #54595d;
$color-gray-dark: #54595d;
$color-gray-medium: #6a6e71;
$color-gray-faded: #72777d;
$color-gray-light: #c8ccd1;
$color-gray-lighter: #f0f0f2;
$color-gray-lightest: #f8f9fa;
$color-blue-darker: #2a4b8d;
$color-blue-dark: #3366cc;
$color-blue-light: #eaf3ff;
$color-green-dark: #14cc70;
$color-green-light: rgba(20, 204, 112, 0.08);
$color-purple-dark: #5233cc;
$color-purple-light: rgba(82, 51, 204, 0.16);
$color-yellow-dark: #ffcc33;
$color-yellow-medium: rgba(248, 255, 0, 0.35);
$color-yellow-light: rgba(255, 204, 51, 0.16);
$color-beige: #fef6e7;

// Extra set of colors for more visual stuff like bar-charts, etc.
$color-extra-orange: #ff8933;
$color-extra-green: #00af89;
$color-extra-purple: #6c00af;
$color-extra-yellow: #f2a000;
$color-extra-blue: #2f559f;
$color-extra-red: #ff5353;

// Colors for functionality
$h1-color: $color-gray-dark;
$body-color: $color-black-medium;
$link-color: $color-blue-dark;

// Margins and Paddings
$gutter-xs: 4px;
$gutter-s: 8px;
$gutter-m: 16px;
$gutter-l: 24px;
$gutter-xl: 32px;

// Border radii
$border-radius-s: 4px;
$border-radius-m: 8px;

// Margins and Paddings for functionality
$margin-main: $gutter-m;

// Font families
$font-family-title: "Charter";
$font-family-body: "Lato";

// z-indexes
$z-index-base: 1;
$z-index-overlay: 990;
$z-index-modal: 999;

// Dividers between sections
$border-divider-blue: solid 1px $color-blue-light;
$border-divider-gray: solid 1px $color-gray-light;

// Box shadows
$box-shadow-dark-xxl: 0 4px 24px rgba(0, 0, 0, 0.08);
$box-shadow-dark-xl: 0 6px 12px rgba(0, 0, 0, 0.08);
$box-shadow-dark-l: 0 4px 8px rgba(0, 0, 0, 0.08);

$box-shadow-light-l: 0 1px 8px rgba(0, 0, 0, 0.04);
$box-shadow-light-m: 0 1px 6px rgba(0, 0, 0, 0.04);
$box-shadow-light-s: 0 1px 4px rgba(0, 0, 0, 0.04);
$box-shadow-light-xs: 0 0 4px rgba(0, 0, 0, 0.04);
